workflows/video_to_shorts_Automation.json
{
  "name": "Video to Shorts - Generation",
  "nodes": [
    {
      "parameters": {
        "amount": 30
      },
      "id": "5989cd85-2ecc-4011-9533-78a96fc990c8",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        820,
        -20
      ],
      "webhookId": "7546076f-92cc-4b1e-b4ed-53818ca36559"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "61659638-66b5-4b11-a526-6b09977f3297",
              "leftValue": "={{ $('get_shorts').item.json.status }}",
              "rightValue": "COMPLETED",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "1393d430-56a7-4441-9850-c2405bfbc5a3",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1120,
        -20
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "err-check-001",
              "leftValue": "={{ $('get_shorts').item.json.status }}",
              "rightValue": "ERROR",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "error-check-node-001",
      "name": "Is Error?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1120,
        180
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"error\": true,\n  \"message\": \"❌ Falha ao processar o vídeo: {{ $('get_shorts').item.json.error }}\"\n}",
        "options": {}
      },
      "id": "error-response-001",
      "name": "Respond Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1300,
        180
      ]
    },
    {
      "parameters": {
        "url": "=http://video-shorts:8000/api/jobs/{{ $('generateShorts').item.json.id }}",
        "options": {}
      },
      "id": "3cf276c7-44cd-4b3f-baa0-722d93de3b84",
      "name": "get_shorts",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        980,
        -20
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "data.shorts",
        "include": "selectedOtherFields",
        "fieldsToInclude": "id,title",
        "options": {}
      },
      "id": "550a0c59-9a94-4ed6-a25c-cec034456e9f",
      "name": "Split Out",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1200,
        -160
      ]
    },
    {
      "parameters": {},
      "id": "1b23af22-9fb4-46ec-946e-47f175632412",
      "name": "Wait1",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2420,
        -240
      ],
      "webhookId": "ad25b936-01d5-4baf-a1b4-51a42c49feda"
    },
    {
      "parameters": {
        "url": "=http://video-shorts:8000/api/render/{{ $('renderShort').item.json.renderId }}",
        "options": {}
      },
      "id": "12d97ef2-71ad-487c-8489-3484000e367e",
      "name": "getRender",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2060,
        -20
      ]
    },
    {
      "parameters": {
        "path": "d47e6412-23af-453a-a5eb-9179b54d3ae1",
        "formTitle": "YouTube → Shorts Generator",
        "formDescription": "Cole o link do vídeo do YouTube, escolha a data de publicação, o estilo das legendas e gere seus Shorts automaticamente.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Link do vídeo do YouTube",
              "placeholder": "https://www.youtube.com/watch?v=... ou https://youtu.be/...",
              "requiredField": true
            },
            {
              "fieldLabel": "Data da primeira publicação",
              "fieldType": "date",
              "requiredField": true
            },
            {
              "fieldLabel": "Horário de publicação (HH:MM, UTC)",
              "placeholder": "08:00",
              "requiredField": true
            },
            {
              "fieldLabel": "Intervalo entre publicações (horas)",
              "fieldType": "number",
              "requiredField": true
            },
            {
              "fieldLabel": "Duração média dos Shorts",
              "fieldType": "dropdown",
              "requiredField": true,
              "fieldOptions": {
                "values": [
                  {
                    "option": "⚡ 15-30s — Hooks rápidos (TikTok / Reels)"
                  },
                  {
                    "option": "🎯 30-45s — Sweet spot (YouTube Shorts)"
                  },
                  {
                    "option": "📖 45-59s — Conteúdo denso (YouTube max 60s)"
                  },
                  {
                    "option": "🎬 60-90s — Estendido (Instagram Reels max 90s)"
                  }
                ]
              }
            },
            {
              "fieldLabel": "Estilo das legendas",
              "fieldType": "dropdown",
              "requiredField": true,
              "fieldOptions": {
                "values": [
                  {
                    "option": "🎬 CapCut Bold — Branco grande + destaque amarelo (padrão CapCut/Captions)"
                  },
                  {
                    "option": "✨ Clean Minimal — Branco suave, fonte fina, sem destaque de cor"
                  },
                  {
                    "option": "💜 Neon Glow — Ciano brilhante + destaque rosa neon"
                  },
                  {
                    "option": "🔥 MrBeast Energy — Amarelo enorme + outline vermelho (Impact)"
                  },
                  {
                    "option": "🎙️ Podcast Chill — Branco + destaque azul claro"
                  },
                  {
                    "option": "🎤 Karaoke Pop — Cores vibrantes alternadas, estilo karaokê"
                  }
                ]
              }
            },
            {
              "fieldLabel": "Nicho do canal",
              "fieldType": "dropdown",
              "requiredField": false,
              "fieldOptions": {
                "values": [
                  {
                    "option": "💻 Tecnologia e Internet"
                  },
                  {
                    "option": "🎮 Games"
                  },
                  {
                    "option": "💰 Finanças e Investimentos"
                  },
                  {
                    "option": "😂 Humor e Entretenimento"
                  },
                  {
                    "option": "📚 Educação"
                  },
                  {
                    "option": "🏋️ Fitness e Saúde"
                  },
                  {
                    "option": "🍳 Culinária"
                  },
                  {
                    "option": "🎵 Música"
                  },
                  {
                    "option": "📱 Marketing Digital"
                  },
                  {
                    "option": "⚡ Notícias e Atualidades"
                  }
                ]
              }
            },
            {
              "fieldLabel": "Público-alvo (opcional)",
              "placeholder": "ex: jovens 18-25 interessados em tech e startups",
              "requiredField": false
            }
          ]
        },
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "b98aebd1-4a2e-42f6-b327-a2ee5262b407",
      "name": "n8n Form Trigger",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.1,
      "position": [
        560,
        -460
      ],
      "webhookId": "d47e6412-23af-453a-a5eb-9179b54d3ae1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://video-shorts:8000/api/jobs",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"functionName\": \"VideoShorts\",\n  \"youtubeVideoId\": \"{{ $('preparingField').item.json.videoId }}\",\n  \"videoSource\":\"{{ $json.videoSource }}\",\n  \"targetDurationMin\": {{ $('preparingField').item.json.targetDurMin }},\n  \"targetDurationMax\": {{ $('preparingField').item.json.targetDurMax }}\n} ",
        "options": {}
      },
      "id": "4e9d1e41-2e70-4c50-8c40-3837d00da9f9",
      "name": "generateShorts",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        820,
        -240
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "250a308f-463e-41b4-96f4-56c49324e861",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1880,
        -320
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://video-shorts:8000/api/render/",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"id\": \"{{ $('current_item_ref').item.json.id }}\",\n  \"target\":  {{ $json['data.shorts'].id }}\n  {{ $json.stylingType ? ', \"' + $json.stylingType + '\": ' + $json.styling?.toJsonString() : '' }}\n} ",
        "options": {}
      },
      "id": "2a429e8c-2af2-4d81-99d2-7d3bf68770da",
      "name": "renderShort",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2260,
        -240
      ],
      "executeOnce": true
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash",
        "options": {}
      },
      "id": "a19e317e-2641-4a06-9b84-4f9e15114f9c",
      "name": "Google Gemini Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        2640,
        -120
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "ox3RBnAnmsoixJij",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {},
      "id": "c3502939-0ee8-4684-959c-97fe1d02bd68",
      "name": "Auto-fixing Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserAutofixing",
      "typeVersion": 1,
      "position": [
        2740,
        -120
      ]
    },
    {
      "parameters": {
        "jsonSchema": "{\n  \"title\": \"YouTube Short Metadata\",\n  \"description\": \"Schema for generating optimized metadata for a YouTube Short based on a segment from a longer video.\",\n  \"type\": \"object\",\n  \"properties\": {\n    \"short_title\": {\n      \"description\": \"Concise, hook-driven title for the YouTube Short (ideally under 70 characters).\",\n      \"type\": \"string\",\n      \"minLength\": 1,\n      \"maxLength\": 70\n    },\n    \"short_description\": {\n      \"description\": \"Keyword-rich description for the Short, including context and the #shorts hashtag.\",\n      \"type\": \"string\",\n      \"minLength\": 1,\n      \"maxLength\": 500, \n      \"pattern\": \"#shorts\"\n    },\n    \"short_tags\": {\n      \"description\": \"List of relevant keywords/tags for the Short, including 'shorts', 'youtubeshorts'.\",\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"string\",\n        \"minLength\": 1\n      },\n      \"minItems\": 1,\n      \"maxItems\": 25,\n      \"uniqueItems\": true\n    },\n    \"youtube_category_id\": {\n      \"description\": \"The single, most suitable YouTube category ID for the Short.\",\n      \"type\": \"integer\",\n      \"enum\": [\n        1,  \n        2,  \n        10,\n        15, \n        17, \n        18, \n        19, \n        20, \n        21,\n        22, \n        23, \n        24,\n        25,\n        26,\n        27,\n        28,\n        29,\n        30,\n        31,\n        32, \n        33, \n        34, \n        35,\n        36,\n        37, \n        38, \n        39,\n        40, \n        41,\n        42,\n        43, \n        44 \n      ]\n    }\n  },\n  \"required\": [\n    \"short_title\",\n    \"short_description\",\n    \"short_tags\",\n    \"youtube_category_id\"\n  ]\n}"
      },
      "id": "def998c5-567e-4146-b929-bcbc4f764d85",
      "name": "Structured Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.1,
      "position": [
        2980,
        -120
      ]
    },
    {
      "parameters": {},
      "id": "f9cb8691-90f2-4a88-91f3-f62825bf2512",
      "name": "current_item_ref",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2100,
        -240
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// ---- Extract YouTube Video ID from URL or plain ID ----\nconst rawLink = item.json['Link do vídeo do YouTube'] || '';\nlet videoId = rawLink.trim();\n\n// Try to extract ID from various YouTube URL formats\nconst patterns = [\n  /[?&]v=([a-zA-Z0-9_-]{11})/,           // youtube.com/watch?v=ID\n  /youtu\\.be\\/([a-zA-Z0-9_-]{11})/,        // youtu.be/ID\n  /\\/embed\\/([a-zA-Z0-9_-]{11})/,          // youtube.com/embed/ID\n  /\\/shorts\\/([a-zA-Z0-9_-]{11})/,         // youtube.com/shorts/ID\n  /\\/live\\/([a-zA-Z0-9_-]{11})/,           // youtube.com/live/ID\n];\nfor (const pat of patterns) {\n  const m = rawLink.match(pat);\n  if (m) { videoId = m[1]; break; }\n}\n// If it's already an 11-char ID, keep it\nif (/^[a-zA-Z0-9_-]{11}$/.test(videoId)) {\n  // OK\n} else if (videoId.length > 11) {\n  // Last resort: try to find 11-char segment\n  const fallback = videoId.match(/([a-zA-Z0-9_-]{11})/);\n  if (fallback) videoId = fallback[1];\n}\n\n// ---- Combine date + time into ISO 8601 ----\nconst rawDate = item.json['Data da primeira publicação'] || new Date().toISOString().slice(0, 10);\nconst rawTime = item.json['Horário de publicação (HH:MM, UTC)'] || '08:00';\nconst timeParts = rawTime.trim().match(/(\\d{1,2}):(\\d{2})/);\nconst hh = timeParts ? timeParts[1].padStart(2, '0') : '08';\nconst mm = timeParts ? timeParts[2] : '00';\nconst firstPublicationAt = `${rawDate}T${hh}:${mm}:00Z`;\n\n// ---- Map duration dropdown to min/max ----\nconst durSelection = item.json['Duração média dos Shorts'] || '🎯 30-45s';\nconst durMap = {\n  '15-30': { min: 15, max: 30 },\n  '30-45': { min: 30, max: 45 },\n  '45-59': { min: 45, max: 59 },\n  '60-90': { min: 60, max: 90 },\n};\nlet targetDurMin = 30, targetDurMax = 45; // default\nfor (const [key, val] of Object.entries(durMap)) {\n  if (durSelection.includes(key)) { targetDurMin = val.min; targetDurMax = val.max; break; }\n}\n\n// ---- Map caption style dropdown to preset key ----\nconst styleSelection = item.json['Estilo das legendas'] || 'CapCut Bold';\nconst styleMap = {\n  'CapCut Bold': 'capcut-bold',\n  'Clean Minimal': 'clean-minimal',\n  'Neon Glow': 'neon-glow',\n  'MrBeast': 'mrbeast',\n  'Podcast': 'podcast',\n  'Karaoke': 'karaoke',\n};\nlet captionPreset = 'capcut-bold';\nfor (const [key, val] of Object.entries(styleMap)) {\n  if (styleSelection.includes(key)) { captionPreset = val; break; }\n}\n\n// ---- Map niche dropdown to clean string ----\nconst nicheRaw = item.json['Nicho do canal'] || 'tecnologia e internet';\n// Strip emoji prefix if present\nconst channelNiche = nicheRaw.replace(/^[^a-zA-ZÀ-ú]+/, '').trim() || 'tecnologia e internet';\n\nconst targetAudience = item.json['Público-alvo (opcional)'] || '';\n\nreturn {\n  json: {\n    videoSource: 'youtube',\n    videoId,\n    firstPublicationAt,\n    intervalHours: Number(item.json['Intervalo entre publicações (horas)']) || 6,\n    captionPreset,\n    targetDurMin,\n    targetDurMax,\n    channelNiche,\n    targetAudience,\n  }\n};"
      },
      "id": "b14465e8-4e8f-49d4-9f70-b670be621264",
      "name": "preparingField",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        820,
        -460
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Map the caption preset from preparingField into styling format for render\nconst preset = $('preparingField').item.json.captionPreset || 'capcut-bold';\nreturn { json: { stylingType: 'preset', styling: preset } };"
      },
      "id": "2b883ff6-264e-458e-99af-f0854bd46f05",
      "name": "cleaningStyling",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1280,
        -460
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "multiplex",
        "options": {}
      },
      "id": "67e0ad2e-3341-42d2-9f59-3420e96c692a",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        1680,
        -440
      ]
    },
    {
      "parameters": {
        "jsCode": "const startDateString = $node[\"preparingField\"].json.firstPublicationAt;\nconst startDate = new Date(startDateString);\nconst intervalHours = $node[\"preparingField\"].json.intervalHours;\n\nitems.forEach((item, index) => {\n  const publishingDate = new Date(startDate.getTime() + index * intervalHours * 60 * 60 * 1000);\n  item.json.publicationDate = publishingDate.toISOString();\n});\n\nreturn items;\n"
      },
      "id": "02cfc68d-b442-4972-852b-0fc720487d95",
      "name": "shcedulingCode",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1280,
        -300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"message\": \"✅ Shorts gerados com sucesso! Revise e aprove na planilha do Google Sheets.\",\n  \"totalShorts\": {{ $input.all().length }},\n  \"sheetsUrl\": \"https://docs.google.com/spreadsheets/d/1DeuormgMeAYmqrx7h1GqByNxJiNXMBhInEfkzCbuJ3I/edit?gid=0#gid=0\"\n}",
        "options": {}
      },
      "id": "df9a4538-d242-4b4c-b4b9-3703c7ad7a51",
      "name": "Respond to Webhook1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2360,
        -560
      ]
    },
    {
      "parameters": {
        "maxItems": 10
      },
      "id": "fd7aa0be-2965-4172-bab1-54e2d29a8d28",
      "name": "maxShortsnumber",
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        1520,
        -300
      ]
    },
    {
      "parameters": {},
      "id": "66db8533-d873-463a-bb4d-7cc830277032",
      "name": "verifyingLoopOutput",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2120,
        -560
      ]
    },
    {
      "parameters": {
        "content": "# Shorts generation",
        "height": 874.3714485405606,
        "width": 669.8249890758466,
        "color": 4
      },
      "id": "bb280529-87ea-4ce8-a559-c8c8698c965d",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        760,
        -640
      ]
    },
    {
      "parameters": {
        "content": "# Number of shorts to schedule + styling assignment",
        "height": 873.3701769220911,
        "width": 356.5339510395039,
        "color": 5
      },
      "id": "55ba6b4a-0a85-44bc-9da8-7deaddd2f36c",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1460,
        -640
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=original video title:  {{ $('current_item_ref').item.json.title }}\nshort transcript:  {{ $('current_item_ref').item.json['data.shorts'].text }}\nReason: {{ $('current_item_ref').item.json['data.shorts'].reason }}\n\n--- DYNAMIC STYLE DIRECTIVE (follow this closely) ---\n{{ $('fetchTrendStyle').item.json.style_directive }}\n\nTitle format to use: {{ $('fetchTrendStyle').item.json.title_format }}\nDescription format: {{ $('fetchTrendStyle').item.json.description_format }}\nSeasonal context: {{ $('fetchTrendStyle').item.json.seasonal_context }}\nTrending hashtags to consider: {{ ($('fetchTrendStyle').item.json.trending_hashtags || []).join(', ') }}\nHook templates for inspiration: {{ ($('fetchTrendStyle').item.json.trending_hooks || []).join(' | ') }}\nPatterns to AVOID: {{ ($('fetchTrendStyle').item.json.avoid_patterns || []).join(', ') }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "You are an expert YouTube Shorts Content Strategist AI with a critical mission: maximize virality and engagement while NEVER repeating the same style twice.\n\nYou will receive:\n1. **Content inputs**: video title, segment transcript, and reason for selection\n2. **A Dynamic Style Directive**: trend-aware instructions that change EVERY batch — you MUST follow them closely\n\nThe Style Directive reflects current social media trends, algorithm preferences, and audience behavior patterns. It tells you the EXACT tone, hook style, emoji usage, and hashtag strategy to use for THIS specific batch. Following it ensures each batch of Shorts feels fresh and algorithm-friendly.\n\n---\n\nBased on ALL inputs (content + style directive), generate:\n\n**short_title:**\n- Follow the title format specified in the style directive\n- Concise: under 70 characters (ideally under 50)\n- The hook style MUST match the directive's instructions\n- Use the language/tone specified (PT-BR unless stated otherwise)\n\n**short_description:**\n- Follow the description format from the style directive\n- Apply the emoji strategy exactly as directed\n- MUST include #shorts\n- Include trending hashtags from the directive when relevant\n- Apply the CTA approach specified in the directive\n- Keyword-rich but natural-sounding\n\n**short_tags:**\n- Mix of specific (from transcript) + trending (from directive)\n- Include 'shorts', 'youtubeshorts' always\n- Apply the hashtag strategy from the directive\n- 5-15 strong tags\n\n**youtube_category_id:**\n- Choose the MOST suitable category ID from the official list\n- Valid IDs: 1 (Film & Animation), 2 (Autos & Vehicles), 10 (Music), 15 (Pets & Animals), 17 (Sports), 18 (Short Movies), 19 (Travel & Events), 20 (Gaming), 21 (Videoblogging), 22 (People & Blogs), 23 (Comedy), 24 (Entertainment), 25 (News & Politics), 26 (Howto & Style), 27 (Education), 28 (Science & Technology), 29 (Nonprofits & Activism)\n\n---\n\nCRITICAL RULES:\n- ALWAYS follow the Dynamic Style Directive — it ensures variety across batches\n- NEVER use generic/template-sounding language\n- AVOID the patterns listed in 'Patterns to AVOID'\n- Each Short's metadata should feel like it was written by a different creator\n- Prioritize what the algorithm rewards RIGHT NOW, not outdated best practices"
            }
          ]
        }
      },
      "id": "24d16867-6e1b-4d40-af62-1cdee2ffc06b",
      "name": "generatingMetaData",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        2720,
        -260
      ]
    },
    {
      "parameters": {
        "content": "# responding to the form",
        "height": 222.9952395999548,
        "width": 1495.6125228631818,
        "color": 6
      },
      "id": "df5359fd-d72b-4564-87ea-0816cb9daf34",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1846.3828307362278,
        -640
      ]
    },
    {
      "parameters": {
        "content": "## Applying the captions and branding to short",
        "height": 504.18282833585727,
        "width": 544.4186093010096,
        "color": 3
      },
      "id": "ad545b6c-e50c-406f-b610-7c2e2aaade82",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2012,
        -325.83592968447346
      ]
    },
    {
      "parameters": {
        "content": "## Meta data generation + Approval Sheet\n### Generates metadata then writes to Google Sheets for approval",
        "height": 554.2648153283677,
        "width": 718.5667680472393,
        "color": 2
      },
      "id": "6788624e-ae97-426a-b89b-4f657bf8aa4c",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2580,
        -380
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "pa-01",
              "name": "Short #",
              "value": "={{ $runIndex + 1 }}",
              "type": "number"
            },
            {
              "id": "pa-02",
              "name": "Título do Short",
              "value": "={{ $json.output.short_title }}",
              "type": "string"
            },
            {
              "id": "pa-03",
              "name": "Descrição",
              "value": "={{ $json.output.short_description }}",
              "type": "string"
            },
            {
              "id": "pa-04",
              "name": "Tags",
              "value": "={{ $json.output.short_tags.join(', ') }}",
              "type": "string"
            },
            {
              "id": "pa-05",
              "name": "Categoria ID",
              "value": "={{ $json.output.youtube_category_id }}",
              "type": "number"
            },
            {
              "id": "pa-06",
              "name": "Data Publicação",
              "value": "={{ $('current_item_ref').item.json.publicationDate }}",
              "type": "string"
            },
            {
              "id": "pa-07",
              "name": "Render URL",
              "value": "={{ $('getRender').first().json.url }}",
              "type": "string"
            },
            {
              "id": "pa-08",
              "name": "Status",
              "value": "pendente",
              "type": "string"
            },
            {
              "id": "pa-09",
              "name": "Aprovado",
              "value": "FALSE",
              "type": "string"
            },
            {
              "id": "pa-10",
              "name": "YouTube ID",
              "value": "",
              "type": "string"
            },
            {
              "id": "pa-11",
              "name": "YouTube Link",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "prep-approval-001",
      "name": "prepareApprovalData",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        2900,
        -260
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "url",
          "value": "https://docs.google.com/spreadsheets/d/1DeuormgMeAYmqrx7h1GqByNxJiNXMBhInEfkzCbuJ3I/edit?gid=0#gid=0"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Página1"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {}
        },
        "options": {}
      },
      "id": "sheets-append-001",
      "name": "Append to Approval Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        3100,
        -260
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "WwANb09fEhvvkfPE",
          "name": "Google Sheets - Approval"
        }
      }
    },
    {
      "parameters": {
        "content": "# Looping over shorts",
        "height": 634.4666296932535,
        "width": 1510.2511614508649
      },
      "id": "81746e4c-2092-47da-9f52-95aa4ce8e533",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1835.437520841403,
        -400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "f7b8572e-69f8-417f-ba5f-9635ff9d764e",
              "leftValue": "={{ $json.type }}",
              "rightValue": "done",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "7900f052-0e67-40d2-9d9a-bc7f04bd1457",
      "name": "iscompleted ?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2360,
        -40
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cfa65f82-c434-41f8-8c93-ae0057921c76",
              "leftValue": "={{ $json.type }}",
              "rightValue": "error",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "63dea199-6dcb-4ece-9d15-9a8113c4190c",
      "name": "isError ?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2200,
        -20
      ]
    },
    {
      "parameters": {
        "url": "=http://video-shorts:8000/api/trend-style?niche={{ encodeURIComponent($('preparingField').item.json.channelNiche) }}&audience={{ encodeURIComponent($('preparingField').item.json.targetAudience) }}",
        "options": {}
      },
      "id": "trend-style-fetch-001",
      "name": "fetchTrendStyle",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1080,
        -460
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Wait": {
      "main": [
        [
          {
            "node": "get_shorts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get_shorts": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Is Error?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Error?": {
      "main": [
        [
          {
            "node": "Respond Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "shcedulingCode",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "getRender",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "getRender": {
      "main": [
        [
          {
            "node": "isError ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },

    "n8n Form Trigger": {
      "main": [
        [
          {
            "node": "preparingField",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "generateShorts": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "verifyingLoopOutput",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "current_item_ref",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "renderShort": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "generatingMetaData",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Auto-fixing Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Auto-fixing Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "generatingMetaData",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Auto-fixing Output Parser",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "current_item_ref": {
      "main": [
        [
          {
            "node": "renderShort",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "preparingField": {
      "main": [
        [
          {
            "node": "generateShorts",
            "type": "main",
            "index": 0
          },
          {
            "node": "fetchTrendStyle",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "fetchTrendStyle": {
      "main": [
        [
          {
            "node": "cleaningStyling",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cleaningStyling": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "shcedulingCode": {
      "main": [
        [
          {
            "node": "maxShortsnumber",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },

    "maxShortsnumber": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "verifyingLoopOutput": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "generatingMetaData": {
      "main": [
        [
          {
            "node": "prepareApprovalData",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "prepareApprovalData": {
      "main": [
        [
          {
            "node": "Append to Approval Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append to Approval Sheet": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "iscompleted ?": {
      "main": [
        [
          {
            "node": "generatingMetaData",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "isError ?": {
      "main": [
        [
          {
            "node": "renderShort",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "iscompleted ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "6552de4f-c6f5-43a1-99a3-963551752c78",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "n8n-local-smoke"
  },
  "id": "hGpeZnulV01ifHHy",
  "tags": []
}
